root = true

[*]
encoding = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true

[*.{c,cpp,h,hpp,gd}]
indent_style = tab
indent_size = 4

[Sconstruct]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 8
