# Cache files
.scons*
.cache/
__pycache__/

# Built files
build/*
!build/.gdignore
*.o
*.os
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.framework
compile_commands.json
addons/lua-gdextension/LICENSE
addons/lua-gdextension/*.import
src/generated/

# Test project files
.godot/
test/godot
