# Cache files
.scons*
.cache/
__pycache__/

# Built files
build
!build/.gdignore
*.o
*.os
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.framework
*.xcframework
*.wasm
compile_commands.json
src/generated/
src/generated-document/

# Test project files
.godot/
test/godot

# Some IDE generated configuration files
.vs/
.vscode/

# Addons files
addons/lua-gdextension/*
!addons/lua-gdextension/luagdextension.gdextension
!addons/lua-gdextension/luagdextension.gdextension.uid

addons/luajit-gdextension/*
!addons/luajit-gdextension/luagdextension.gdextension
!addons/luajit-gdextension/luagdextension.gdextension.uid
